@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.location {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    animation: .5s ease-in fade-in;
    position: relative;
}

.image {
    width: 300px;
    height: 169px;
    background-color: #eee;
}

@media (min-width: 1200px) {
    .image {
        width: 500px;
        height: 281px;
    }
}

.tag {
    position: absolute;
    left: 0;
    top: 0;
    background-color: crimson;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}